/*=========== RESET ==========*/

* {
    font-size: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}


/* CABEÇALHO */ 

.logo {
    width: 56px;
    height: 56px;
    float: right;
    background: url("../imagens/logo-mobile.png") center center/56px no-repeat;
    font-size: 0;
}

body {
    background-color: rgb(243, 240, 240);
    margin: 12px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

#degrade {
    margin-left: 42px;
    margin-right: 42px;
}

.info-ped p {
    text-align: center;
    opacity: 0.7;
}

.intro h1 {
    padding-top: 12px;
    color: #000;
    text-shadow: #fff 0.2em 0.1em 0.2em;
    height: 56px;
}

.intro p {
    margin-top: 12px;
    color: #fff;
    text-shadow: rgb(0, 0, 0) 0.2em 0.1em 0.2em;
}

.at-nt {
    color: #000;
    text-shadow: #fff 0.2em 0.1em 0.2em;
    margin-top: 34px;
    text-align: center;
    padding-bottom: 20px;
}


/*GERAL*/

h2 {
    color: #ff0000;
    text-shadow: #000 0em 0.1em;
    padding: 1.0em 0em 0.5em 0em;
}

h3 {
    color: #ff0000;
    text-shadow: #000 0em 0.1em;
    padding: 1.2em 0em 0.5em 0em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

p span {
    color: #0427fc;
    font-weight: 9px;
}

.pagina-inicial {
    margin: 12px 12px;
}

a {
    color: #000;
}


/*PRÓXIMO CAPITULO*/

.proximo {
    font-stretch: condensed;
    text-transform: lowercase;
    font-size: 1em;
    font-style: italic;
    color: #0427fc;
    text-shadow: #ff0000 0em 0.03em;
}


a:hover {
    color: #ff0000;
}


/*LINK ATIVO*/

table tbody td a.ativo {
    color: #ff0000;
}

.top {
    width: 38px;
    height: 42px;
    float: right;
    background: url("../imagens/top2.png") center center/30px no-repeat;
    font-size: 0;
    margin-bottom: 12px;
}


/*MEDIA*/

@media screen and (min-width: 480px) {
    .logo {
        width: 214px;
        background: url("../imagens/logo.png") center center/214px no-repeat;
    }
    footer.top {
        width: 92px;
        background: url("../imagens/top2.png") center center/92px no-repeat;
        font-size: 0;
    }
}